accelerate==1.4.0
aiohappyeyeballs==2.4.4
aiohttp==3.11.10
aiosignal==1.3.1
altair==5.5.0
annotated-types==0.7.0
anyio==4.7.0
asgiref==3.8.1
attrs==24.2.0
bcrypt==4.2.1
beautifulsoup4==4.13.3
blinker==1.9.0
branca==0.8.0
cachetools==5.5.0
captcha==0.6.0
certifi==2023.11.17
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
contourpy==1.3.1
cryptography==41.0.7
cycler==0.12.1
dataclasses-json==0.6.7
defusedxml==0.7.1
distro==1.9.0
Django==5.1.4
django-allauth==0.58.2
django-decouple==2.1
django-stdimage==6.0.1
djangorestframework==3.15.2
dnspython==2.7.0
email_validator==2.2.0
entrypoints==0.4
et_xmlfile==2.0.0
extra-streamlit-components==0.1.71
Faker==36.1.1
fastapi==0.115.6
favicon==0.7.0
filelock==3.16.1
folium==0.19.0
fonttools==4.56.0
fpdf==1.7.2
frozenlist==1.5.0
fsspec==2024.10.0
geographiclib==2.0
geopy==2.4.1
gitdb==4.0.11
GitPython==3.1.43
greenlet==3.1.1
h11==0.14.0
htbuilder==0.9.0
httpcore==1.0.7
httpx==0.28.1
httpx-sse==0.4.0
huggingface-hub==0.26.5
humanize==4.9.0
idna==3.6
importlib_resources==6.4.5
Jinja2==3.1.4
jiter==0.8.2
joblib==1.4.2
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
kiwisolver==1.4.8
langchain==0.3.10
langchain-community==0.3.10
langchain-core==0.3.22
langchain-text-splitters==0.3.2
langsmith==0.1.147
lxml==5.3.0
Markdown==3.7
markdown-it-py==3.0.0
markdownlit==0.0.7
MarkupSafe==3.0.2
marshmallow==3.23.1
matplotlib==3.10.0
mdurl==0.1.2
mpmath==1.3.0
multidict==6.1.0
mypy-extensions==1.0.0
mysqlclient==2.2.6
narwhals==1.16.0
networkx==3.4.2
nltk==3.9.1
numpy==1.26.4
oauthlib==3.2.2
openai==1.64.0
openpyxl==3.1.5
orjson==3.10.12
packaging==24.2
pandas==2.2.3
phonenumbers==8.13.51
pillow==10.2.0
plotly==6.0.0
prometheus_client==0.21.1
propcache==0.2.1
protobuf==5.29.1
psutil==7.0.0
psycopg2==2.9.9
psycopg2-binary==2.9.10
pyarrow==18.1.0
pycparser==2.21
pydantic==2.10.3
pydantic-settings==2.6.1
pydantic_core==2.27.1
pydeck==0.9.1
Pygments==2.18.0
PyJWT==2.8.0
pymdown-extensions==10.14.3
PyMySQL==1.1.1
pyparsing==3.2.1
PyPDF2==3.0.1
python-dateutil==2.9.0.post0
python-docx==1.1.2
python-dotenv==1.0.1
python-tools==0.0.1
python3-openid==3.2.0
pytz==2024.1
PyYAML==6.0.2
qrcode==8.0
referencing==0.35.1
regex==2024.11.6
replicate==1.0.4
requests==2.31.0
requests-oauthlib==1.3.1
requests-toolbelt==1.0.0
rich==13.9.4
rpds-py==0.22.3
safetensors==0.4.5
six==1.17.0
smmap==5.0.1
sniffio==1.3.1
soupsieve==2.6
SQLAlchemy==2.0.36
sqlparse==0.4.4
st-annotated-text==4.0.2
st-theme==1.2.3
starlette==0.41.3
static3==0.7.0
streamlit==1.40.2
streamlit-authenticator==0.4.1
streamlit-camera-input-live==0.2.0
streamlit-card==1.0.2
streamlit-embedcode==0.1.2
streamlit-extras==0.5.5
streamlit-faker==0.0.3
streamlit-image-coordinates==0.1.9
streamlit-keyup==0.3.0
streamlit-lottie==0.0.5
streamlit-option-menu==0.4.0
streamlit-pydantic==0.6.0
streamlit-toggle-switch==1.0.2
streamlit-vertical-slider==2.5.5
stripe==11.3.0
sympy==1.13.1
tenacity==9.0.0
textblob==0.19.0
tokenizers==0.21.0
toml==0.10.2
torch==2.6.0
torchaudio==2.6.0
torchvision==0.21.0
tornado==6.4.2
tqdm==4.67.1
transformers==4.47.0
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata==2023.4
urllib3==2.1.0
validators==0.34.0
watchdog==6.0.0
xyzservices==2024.9.0
yarl==1.18.3
